<h1>Index des events</h1>

</div><% if user_signed_in? %>
  <div class="d-flex justify-content-center ">
    <div class="d-flex align-items-center">
      <h4>Bienvenue <%= current_user.username %></h4>



  <p>Voici les évènements auquel tu participes :</p>
      <h4>Upcoming events :</h4>
  <% @upcoming.each_with_index do |event, i| %>
    <div class="form-group border">
      <p><%= event.creator.username %></p>
      <p><%= event.description %></p>
      <p><%= event.date %></p>
      <p><%= event.place %></p>
        <%= link_to "Unsubscribe", {:controller => :events, :action => :unsubscribe, :event => event.id}, :method => :put, class: "btn btn-outline-danger" %>
    </div>
  <% end %>

      <h4>Past events :</h4>
  <% @past.each_with_index do |event, i| %>
    <div class="form-group border">
      <p><%= event.creator.username %></p>
      <p><%= event.description %></p>
      <p><%= event.date %></p>
      <p><%= event.place %></p>
    </div>
  <% end %>

  <%= link_to "Créer un évènement", new_event_path, class: "btn btn-warning" %>

    </div>
  </div>
<% else %>
<br>
<h1>Connectez-vous svp</h1>
<% end %>


<br />

<div class="container">
  <h4>Past events :</h4>
    <% @past.each_with_index do |event, i| %>
      <div class="form-group border border-muted">
        <p><%= event.description %></p>
        <p><%= event.date %></p>
        <p><%= event.place %></p>
        <%= link_to "Plus d'infos", event_path(event.id), class: "btn btn-outline-secondary" %>
      </div>
  <% end %>
</div>
