<h3>Infos de l'évènement n° <%= @event.id %></h3>

<div class="form-group border">
<p>Créé par <%= @event.creator.username %></p>
<p><%= @event.description %></p>
<p>Date de l'évènement : <%= @event.date %></p>
<p>Rendez-vous : <%= @event.place %></p>
</div>
<div class="form-group border">
<% if !@event.attendees.include?(current_user) %>
<%= link_to 'Subscribe', {:action => :subscribe, :event => @event}, :method => :post, class: "btn btn-success" %>
<% else %>
<%= link_to 'Unsubscribe', {:action => :unsubscribe, :event => @event}, :method => :post, class: "btn btn-danger" %>
<% end %>
</div>
<div class="form-group border">
  <h4>Liste des participants</h4>
  <% @event.attendees.each do |att| %></p>
  <p><%= att.username %></p>
  <% end %>
</div>
