<!DOCTYPE html>
<html>
  <head>
    <title>Eventbritelike2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= debug user_signed_in? %>
    <%= debug session.to_h %>
    <%= render 'layouts/footer' %>
  </body>
</html>
